<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async"
                    src="https://utfs.io/f/ZfzyDSYoDact4JG63VEkjeZkqsJwlUMh0FdPBSAzR1YbO3Hn" alt="logo" width="304"
                    height="100">
            </a>
            
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>

                    <li>
                        <a href="/solutions">Solutions</a>
                    </li>
                    <li>
                        <a href="/clients">Clients</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Solutions</h2>
                    </li>
                    <li>
                        <a href="/seo">Search Engine Optimization (SEO)</a>
                    </li>
                    <li>
                        <a href="/ppc">PPC (Google Ads Management)</a>
                    </li>
                    <li>
                        <a href="/website-design">Website Design & Development</a>
                    </li>
                    <li>
                        <a href="/content-creation">Content Creation & Optimization</a>
                    </li>
                    <li>
                        <a href="/mobile-app-development">Mobile App Development</a>
                    </li>
                    <li>
                        <a href="/custom-software">Custom Software Development</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="tel:586-383-5131">T: (586) 383-5131</a>
                    </li>
                    <li>
                        <a href="mailto:targetrankseo@gmail.com">Email</a>
                    </li>
                    <li>
                        <a href="https://instagram.com/targetrankseo">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">Target Rank SEO</a>
        <span class="copyright"> Copyright 2021 - Present</span>
    </div>
</footer>