<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
{% set navPages = collections.all | eleventyNavigation %}

<div id="navigation">
    <div aria-hidden="true" class="background-color-div">
        <!--This div is used to overcome a z-index issue where the open
            #navbar-menu is on top of the #navigation. This bar places itself 
            the #navbar-menu so that menu appears behind the #navigation
        -->
    </div>
    <div class="container">
        <!--Logo - Get SVGs if you can.  I use fiverr to get png's turned into SVGs. Highly recommend it, worth the $20 - get a light and dark version-->
        <a class="logo" aria-label="click to go to home page" href="/">
            <picture id="logo-picture">
                <!-- Image for large screens before scroll -->
                <source 
                    srcset="https://utfs.io/f/ZfzyDSYoDact6QL6i8ZNEzQFGRh847Tgtj5xdZIBJs0lokDr" 
                    media="(min-width: 1024px)">
                <!-- Default fallback -->
                <img 
                    id="logo-image" 
                    aria-hidden="true" 
                    src="https://utfs.io/f/ZfzyDSYoDact5BosYPS138pQYmVXJ6D7GSR1Cl2obIriUj0u" 
                    decoding="async" 
                    loading="lazy" 
                    alt="logo" 
                    width="500px" 
                    height="200px">
            </picture>
        </a>

        <!--Mobile Nav toggle-->
        <button class="hamburger-menu" aria-expanded="false" aria-controls="navbar-menu">
            <span aria-hidden="true"></span>
        </button>

<!-- Main Nav -->
<nav id="navbar-menu" aria-label="main navigation">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/clients">Clients</a>
        </li>
        <li>
            <a href="/reviews">Reviews</a>
        </li>
        <li>
            <a href="/about">About Us</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>

    </div>
</div>